body {
  margin:0;
  padding:0;
}

#root {
  padding:0;
  margin:0;
}

/*Fuck da police*/
.tail-left {
  position: absolute;
  z-index: -1;
  margin-left: -2px;
  margin-top: 5px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.tail-right {
  position: absolute;
  z-index: -1;
  float:right;
  margin-right: 70px;
  margin-top: 5px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  right: 0
}